
#game {
    width: 400px;
    height: 500px;
    border: 1px solid black;
    margin: auto; /*căn lề tự động*/
    overflow: hidden; /*ẩn những thứ ngoài phạm vi "game"*/
}

#block {
    width: 50px;
    height: 500px;
    background-color: black;
    position: relative; /*cách bên trái 400px (định vị trí tuyệt đối cho các tp)*/
    left: 400px;
    animation: block 2s infinite linear; /* tạo ra chuyển động mà k cần js khoangt tg thực thi 2s */
}

@keyframes block { /* thiết lập chuyển động của block*/
    /* ống phải từ vt 0% -> trái 400px mất ở 100% (-50 k/thước ống)*/
    0% {
        left: 400px
    }

    100% {
        left: -50px
    }
}

#kc {
    width: 50px;
    height: 150px;
    background-color: white;
    position: relative;
    left: 400px;
    top: -500px;
    animation: block 2s infinite linear; /* tạo ra chuyển động mà k cần js khg tg thực thi 2s */
}

#ball {
    width: 20px;
    height: 20px;
    background-color: red;
    position: absolute;
    top: 100px;
    border-radius: 50%;

}