body {
    padding: 40px;
}
.head{
    color: blue;
    display: flex;
}
table {
    width: 100%;
    border-collapse: collapse;
}
h2 {
    width: 100%;
    text-align: center;
    color: #4c78ce;
}
.div1 {
    width: 50%;
    text-align: left ;
}
.div2 {
    width: 50%;
    text-align: right;
}
td, th {
    padding: 20px;
    border: 1px solid black;
}
th {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding: 20px;
    background-color: rgba(239, 245, 75, 0.91);
}
.nen2 {
    background-color: rgba(231, 159, 76, 0.87);
}
